/Artist.class
/BdClass.class
/Klex.class
/User.class
/langue.class
/Film.class
/Logiciel.class
/CategorieFilm.class
/CategorieMusique.class
/CategorisationFilm.class
/CategorisationPiste.class
/Album.class
/FLuxVideo.class
/FluxAudio.class
/FluxText.class
/Piste.class
/langue$Langue.class
/Langue.class
/Codec.class
/Flux.class
